.navbar-container {
    background: #1d1d1d;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 6em;
}

@include media-breakpoint-lg {
    .navbar-container {
        height: 6em;
        width: 100%;
    }
}