
@mixin media-breakpoint-xl {
    @media screen and (max-width: $extraLargeWidth) {
        @content;
    }
}

@mixin media-breakpoint-lg {
    @media screen and (max-width: $largeWidth) {
        @content;
    }
}

@mixin media-breakpoint-md {
    @media screen and (max-width: $mediumWidth) {
        @content;
    }
}

@mixin media-breakpoint-sm {
    @media screen and (max-width: $smallWidth ) {
        @content;
    }
}

@mixin media-breakpoint-xs {
    @media screen and (max-width: $extraSmallWidth ) {
        @content;
    }
}


 @mixin transition-line {
    transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
 }

 @mixin shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,71,87,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,71,87,1);
    box-shadow: 0px 0px 5px 0px rgba(255,71,87,1);
 }