@keyframes modal-animation-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-animation-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-open {
  animation: modal-animation-open 0.5s;
}

.modal-close {
  animation: modal-animation-close 0.5s;
}
