// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontSize            : 10px;
$fontSizeSmall           : 1.4rem;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$extraLargeWidth         : 1280px;
$largeWidth              : 980px;
$mediumWidth             : 768px;
$smallWidth              : 480px;
$extraSmallWidth         : 320px;

// Main color
$default-color           : #ffffff;
$light-color             : #999999;
$hover-color             : #ff4757;
// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;

// $purple-color            : #8854d0;

// Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;