// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontSize            : 10px;
$fontSizeSmall           : 1.4rem;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$extraLargeWidth         : 1280px;
$largeWidth              : 980px;
$mediumWidth             : 768px;
$smallWidth              : 480px;
$extraSmallWidth         : 320px;

// Main color
$default-color           : #ffffff;
$light-color             : #999999;
$hover-color             : #ff4757;
$dark-color              : #1d1d1d;
$dark-light-color        : #2b2b2b;
$earth-sea               : #496282;
$earth-green             : #5E8249;
$modal-bg                : rgba(0,0,0, 0.9);