.portfolio-card {
    background: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:'i t'
                        'i d'
                        'i d'
                        'i d'
                        'i d'
                        'i l';
    height: 80vh;
    outline: 0;      
}

.portfolio-image-container {
    grid-area: i;
    @include flex-center;
}

.portfolio-technology-container {
    @include flex-center;
    flex-wrap: wrap;
    align-content: center;
    grid-area: t;    
}

.portfolio-technology-item {   
    color: $light-color;
    font-size: $fontSizeSmall;
    padding: 0 2rem;
    margin: 0.2rem;
    border: 0.1rem solid $light-color;
    border-radius: 10rem;
    height: 2rem;
    &:hover {
        color: $hover-color;
        border-color: $hover-color;
        @include shadow;
    }
}

.portfolio-description-container {
    grid-area: d;
    @include flex-center;
}

.portfolio-link-container {
    grid-area: l;
    align-content: center;
    @include flex-center;
}

.portfolio-link-item {
    color: $light-color;
    border: 0.1rem solid $light-color;
    border-radius: 10rem;
    text-align: center;
    width: 40%;
    height: 4rem;
    line-height: 4rem;
    font-size: $fontSizeSmall;
    &:nth-child(2) {
        margin-left: 2rem;
    }
    &:hover {
        color: $hover-color;
        border-color: $hover-color;
        @include shadow;
    } 
}

@include media-breakpoint-lg {
    .portfolio-card {
        grid-template-columns: 100%;
        grid-template-areas:'i'
                            'i'
                            'i'
                            'i'
                            'i'
                            'i'
                            't'
                            'd'
                            'd'
                            'd'
                            'd'
                            'l';
    }
}

@include media-breakpoint-sm {
    .portfolio-technology-item {
        padding: 0 1.5rem;
        font-size: 1rem;
        height: 1.5rem;
    }
}