.modal-gallery-container {
    background: $modal-bg;  
    display: flex;      
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    padding: 2rem;        
    .modal-gallery-button-close {
        background: inherit;
        color: $light-color;        
        border-radius: 50%;
        border: 0.1rem solid $light-color;
        height: 3rem;
        width: 3rem;
        font-size: 2rem;        
        margin-bottom: 2rem;
        @include flex-center;
        @include transition-line;
        cursor: pointer;
        outline-style: none;        
        &:hover {
            color: $hover-color;
            border-color: $hover-color;
            @include shadow;            
        }        
    }         
}

.modal-image-container {   
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: auto;
    outline-style: none;    
    & img {             
        width: 100%;
        height: auto;
    }
}

@include media-breakpoint-sm {
    .modal-gallery-container {
        top: 6rem;
        height: calc(100%-6rem);
        padding: 0;
    }
    .modal-image-container {
        height: 60vh;
    }
}