@import "utils/libs";
@import "utils/fonts";
@import "utils/variables";
@import "utils/mixins";
@import "utils/sections";

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    height: 100%;
}

body {    
    font-family: $mainFont;
    font-weight: $mainFontWeight;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  

@import 'components/navbar'