@media (max-width:$mediumWidth) and (orientation: landscape) {
    .rotate {    
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        overflow: hidden;
        & img {
            width: 100%;
            height: auto;
        }
    }
}