.main-content {
    display: flex;           
}

.content {
    background: $dark-light-color;
    color: $default-color;  
    position: fixed;
    bottom: 0;    
    right: 0;     
    width: calc(100% - 6rem);
    height: 100%;
    overflow: hidden;
    animation: animate-content 1s ease-in-out;
}

@keyframes animate-content {
    from {
        transform: translateY(100%);        
        opacity: 0;
    }
    to {
        transform: translateY(0);        
        opacity: 1;
    }
}

.regular-section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    .regular-item-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;              
        padding: 0 6rem;        
        & h1 {
            margin: 1rem 0;
            font-size: 3rem;
            letter-spacing: 0.2rem;
            color: $default-color;            
        }
        & p, span {
            font-size: $fontSizeDefault;
            color: $light-color;
        }
        & a {
            color: $default-color;
            @include transition-line;
            &:hover {
                color: $hover-color;
                @include transition-line;
            }
        }
    }
    .regular-item-image {        
        @include flex-center;
        flex-direction: column;
        & img {            
            margin: 1.5rem;
            @include transition-line;
            &:hover {
                filter: drop-shadow(0 0 20px #fff);                
            } 
        }
    }
    .regular-image-container {
        margin: 0.5rem 0;
        text-align: center;        
    }
}

@include media-breakpoint-lg {
    .main-content {
        flex-direction: column;
    }
    .content {
        margin-top: 6rem;
        height:calc(100% - 6rem);
        width: 100%;
    }
    .regular-item-text {
        padding: 0 4rem;
    }
    .content-overflow-y {
        overflow-y: auto;
    }
}

@include media-breakpoint-md {
    .regular-section {   
        grid-template-columns: 100%;
        grid-template-rows: auto auto;        
    }
}

@media (max-width:$mediumWidth) and (orientation: landscape) {
    .rotate {    
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        overflow: hidden;
        & img {
            width: 100%;
            height: auto;
        }
    }
}

@include media-breakpoint-sm {
    .content {        
        margin-top: 6rem;
    }
    .regular-section {
        .regular-item-text {
            margin-top: 6rem;
            padding: 0 2rem;
            & h1 {                
                font-size: 2.2rem;
            }
            & p {
                font-size: $fontSizeSmall ;
            }
        }
        .regular-item-image {
            padding: 0 2rem;
            margin-bottom: 2rem;
            & img {
                margin: 1rem;
            }            
        }
    }
}